.label {
  cursor: pointer;
}

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}

.img-container img {
  max-width: 100%;
}

.button_enabled {
    background-color: #aaeeaa;

}

.button_disabled {
    background-color: #aaaaaa;
}