.label {
  cursor: pointer;
}

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}

.img-container img {
  max-width: 100%;
}

.button_enabled {
    background-color: #aaeeaa;

}

.button_disabled {
    background-color: #aaaaaa;
}

#code_block {
    margin: 5px 0;
}

.invalid_code_input {
    background-color: #eeaaaa;
}

.valid_code_input {
    background-color: #aaeeaa;
}

/* loading overlay */
.overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000099;
    z-index: 1000;
    text-align: center;
    justify-content: center;
    align-items: center;
}